<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Home page</title>

<link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
        background-color: rgba(51, 32, 221, 1);
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        background-color: rgba(51, 32, 221, 1);
      }
      /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,.btn:focus, .btn:active, .btn-primary.active{
      background-color:rgb(29, 127, 255) !important;
      color:white!important;
      transition: 0.7s !important;
  }

 
    </style>

    
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>
  <body> 
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <img src="img\logo-white_text_log.svg" style="margin-left:15px" alt="logo" width="15%" height="15%">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" >
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" aria-current="page" href="#">| </a>
          </li>
          <form action="/profile" method="post">
            <input type="hidden" name="username" value="<%=user%>">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" onclick="this.parentNode.parentNode.submit()" href="#">Profile </a>
            </li>
          </form>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">| </a>
           </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container" >
  <div class="bg-light p-5 rounded">
    <br><h2 id="hello" style="text-align:center">Welcome, <%if(name){%><%=name%><%}%></h2><br><br>
    <form class="d-flex" style="margin-left:30%; margin-right:30%" role="search" onsubmit="search();return false">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchbar" onchange="search()">
        <button class="btn btn-outline-success" style="color:white;background-color:rgb(29, 127, 255)"type="button" onclick="search()">Search</button>
    </form>
    <br><p class="lead mb-4">New Starters | 09/2022</p>
    

  
    

  <% people.forEach(function(person){ %>
  <div name = "big div" id="<%=person.username%>">
    <form method="post" action="/profile" style="background-color:white;height:auto" name="descriptor"> 
      
        <input type="hidden" name="username" value="<%=person.username%>">       
        <input type="submit" value="View Profile" class="btn rounded btn-outline-primary " style="border-color:rgb(29,127,255); background-color:white; color:rgb(29, 127, 255);float:right; height:auto;margin-top:5%; margin-top:32px; margin-right: 32px"> 
      
        <img class="mb-4 ml-6" style="margin-left:1%"src="img\person-circle.svg" alt="profile img" width="68" height="50">
        
        <% interests.forEach(function(interest){%>
          <%if(interest.username==person.username){%>
            <span style="display:none"><%=interest.interest%></span>
          <%}%>
        <%});%>
        

        <div style="display:inline-block"><br><span><b><%=person.forename%> <%=person.surname%></b></span><div style="line-height:0px;"><br></div><span style="display:inline-block; font-size:80%"><%=person.role%></span></div>
        <span style="display:none"><%=person.age%></span><span style="display:none"><%=person.location%></span> 
            
      
         
      

    </form>
  <div><br></div>
</div>
<% }); %>



</div>


  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 id="modalName"></h1>
      <p id="modalAge"></p>
      <p id="modalLocation"></p>
      <p id="modalInterests"></p>


      <input type="submit" value="Message">
    </div>
  
  </div>
  
</main>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

      
  </body>
</html>
<script>




function search(people){
  var inputs = document.getElementById("searchbar").value.split(" ");
  console.log(inputs);
  var allfound = false;
  var found = false;

  document.getElementsByName("descriptor").forEach(details=>{
    allfound=true;
    inputs.forEach(input=>{  
      details.childNodes.forEach(detail=>{      
        if(String(detail.innerHTML).toLowerCase().includes(input.toLowerCase())){
          found=true;
        }});
      if(!found){
        allfound = false;
      }
      found=false;
    });
    if(allfound){
      details.parentNode.hidden = false;
    }
    else{
      details.parentNode.hidden = true;
    }
  });
  
}

function viewPerson(forename,surname,age,location,interests){
  document.getElementById("myModal").style.display = "block";
  document.getElementById("modalName").innerHTML=forename+" "+surname;
  document.getElementById("modalAge").innerHTML="Age: "+age;
  document.getElementById("modalLocation").innerHTML="Location: "+location;
  document.getElementById("modalInterests").innerHTML="Interests: "+interests;
}


  document.getElementsByClassName("close")[0].onclick = function() {
    document.getElementById("myModal").style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == document.getElementById("myModal")) {
      document.getElementById("myModal").style.display = "none";
      }
  }
     
  
  searchbar.addEventListener('keydown', function(e) {
    
    setTimeout(()=>{search();},2);
  });

//filter with keypress - without enter
//filter function - on "chan" array
  
  
//document.getElementById("hello").innerHTML="you typed"+document.getElementById("searchbar").value;


    </script>