<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demonstration</title>
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="/css/profile.css" rel="stylesheet">
    </head>
    <body>
        <link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
        background-color: rgba(51, 32, 221, 1);
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        background-color: rgba(51, 32, 221, 1);
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
  </head>
  <body>
    
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <img src="img\logo-white_text_log.svg" style="margin-left:15px" alt="logo" width="15%" height="15%">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" >
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" aria-current="page" href="#">| </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">| </a>
         </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container" >
    <div class="bg-light p-5 rounded">
        <div name="back">
            <form action="/home" method="post">
                <button class="btn btn-outline-primary btn-sm mt-0" name="back" >Back</button>
            </form>
        </div>
        
        <div class="col-lg-12">
            <img class="rounded-circle mr-4" style="margin-left:450px" width="140" height="140" src="img\person-circle.svg" role="img">
            <h2 class="fw-normal" style="margin-left:410px; margin-top:20px"><%=puser.forename%> <%=puser.surname%></h2>
            <p style="margin-left:460px">Location: <%=puser.location%></p>
            <p style="margin-left:490px">Age: <%=puser.age%></p>
            <p style="margin-left:500px">Role</p>
            <p style="margin-left:930px"><a class="btn btn-outline-primary btn-sm mt-0" href="#" fill="#1b7ced"><%if(!message){%>Edit Profile<%}else{%>Message<%}%></a></p>
            <div>
                <!--Oi Sharif wag1-->
                <div>                                 
                  <a href="#"></a>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 ">
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="300" height="250" xmlns="http://www.w3.org/2000/svg"  aria-label="Placeholder:  Interests" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#ffffff"/>
                            <text x="25%" y="18%" fill="#000000" dy=".3em" style="font-size:2.1vw" >Interests </text>
                        </svg>
                    </div>
                    
                    <div class="col p-4 d-flex flex-column position-static">
                      <h3 class="mb-0">About me:</h3>
                      <p class="card-text mb-auto">Interests: <%=puser.interests%></p>
                      
                    </div>
                </div>

               
        </div>            
    </div>
</main>
    </body>
</html>